*
!.gitignore
!/module.json
!/README.md
!/CHANGELOG.md
!/lang/
!/lang/*.json
!/styles/
!/styles/*.css
!/scripts/
!/scripts/*.js
!/apps/
!/apps/*.js
!/templates/
!/templates/*.hbs
!/templates/*.html
!/macros/
!/macros/*.js
!/css/
!/css/*.css
!/packs/
!/packs/*.db
!/packs/*/
.DS_Store
